---
layout: layout
menu_item: contacts
---
<section class="content-box clearfix">
                        <div class="big-title"><b>Свяжитесь с нами</b></div>
                        <div class="about-text">
                        Хотите выступить с докладом? Есть комментарии или пожелания по темам? Хотите чем-то помочь?
                        <br/><br/>
                        Пишите организатору проекта, Семёну Факторовичу: <a href="mailto:sam.faktorovich@gmail.com">sam.faktorovich@gmail.com</a>
        
                        </div>
</section>
