---
layout: layout
menu_item: speakers
title: Докладчикам
---
<section class="content-box clearfix">

<div class="big-title"><b>Хотите выступить?</b></div>
<div class="about-text">
Мы всегда рады новым докладчикам!
<br/>
<br/>
В осеннем семестре (сентябрь-декабрь) мы рассказываем про разработку, языки и технологии. В весеннем семестре (февраль-май) мы рассказываем про карьеру и профессии в IT. Остальные месяцы мы отдыхаем.
<br/>
<br/>
Если вы хотите выступить, то выберите общее направление (технологии или карьера) и определитесь с темой.
<br/>
<br/>
<br/>
<div class="med-title"><b>Темы</b></div>
Темы могут быть любыми; основной критерий ровно один: ваша тема должна быть достаточно широка, чтобы заинтересовать людей, которые до сегодняшнего дня ничего про нее не слышали. К примеру, сравнительный анализ Swift и Objective-C будет неинтересен аудитории, в которой на Objective-C писала всего пара человек.
<br/>
<br/>
Например, мы давно ищем докладчиков на следующие темы:
<br/>
<br/>
Осенний семестр (технологии)
<br/>
<br/>
<ul>
<li>- биоинформатика</li>
<li>- устройство и архитектура СУБД (в идеале — на примере какого-нибудь конкретного движка)</li>
<li>- хардкорный геймдев (алгоритмика, производительность, физические и 3D-движки)</li>
<li>- увлекательные истории из embedded-разработки</li>
<li>- введение в видеокодеки</li>
</ul>
<br/>
Весенний семестр (карьера и профессии)
<br/>
<br/>
<ul>
<li>- кто такие DevOps</li>
<li>- системное администрирование в наши дни</li>
<li>- open source: чем полезно, с чего начать, как прийти к успеху</li>
<li>- чем занимаются специалисты по информационной безопасности</li>
<li>- чем нужно и не нужно заниматься в университете (как получить от высшего образования максимум для свой будущей карьеры)</li>
</ul>
<br/>
Но, повторимся, темы могут быть любыми. Примеры докладов прошлых лет можно посмотреть в разделе <a href="<%= base_url %>/archive">«Архив»</a>
<br/>
<br/>
<br/>
<div class="med-title"><b>Формат и слушатели</b></div>
Временной регламент — <b><u>40-60 минут</u></b> на лекцию, плюс 15-20 минут на вопросы из аудитории. Абсолютный потолок с учетом вопросов — 90 минут.
<br/>
<br/>
На лекции обычно присутствует 15-50 человек (ближе к сессии посещаемость падает), на топовые лекции приходит по 90-100 человек. Аудитория примерно на 50% состоит из студентов НГУ, остальные слушатели — выпускники и сотрудники местных IT-компаний.
<br/>
<br/>
В аудитории есть меловая доска, проектор (только c VGA-разъемом!), компьютер и беспроводной презентационный кликер.
<br/>
<br/>
<br/>
<div class="med-title"><b>House rules</b></div>

У нас <b><u>не принято</u></b>:
<br/>
<br/>
<ul>
<li>- посвящать всю лекцию рассказу о каком-то продукте вашей компании (мы — не рекламная площадка)</li>
<li>- чересчур активно пиарить свою компанию в процессе доклада (лучше сделайте ваш доклад действительно интересным, и после выступления слушатели сами подойдут с вопросом «как устроиться к вам на работу»)</li>
<li>- рекламировать свои вакансии и стажировки (см. пункт выше)</li>
<li>- раздавать промо-материалы и завешивать аудиторию своими баннерами (см. двумя пунктами выше)</li>
</ul>
<br/>
<br/>
Созрели для выступления? <a href="<%= base_url %>/faq/contacts">Напишите нам!</a>
</section>