---
layout: layout
menu_item: speakers
---
<section class="content-box clearfix">
                        <div class="big-title"><b>Хотите выступить?</b></div>
                        <div class="about-text">
                        Мы всегда рады новым докладчикам. 
                        <br/><br/>
                        В осеннем семестре мы рассказываем о технологиях, языках и разработке в целом.
                        <br/><br/>
                        В весеннем семестре мы рассказываем о различных профессиях и карьере в IT.
                        <br/><br/>
                        Если вы хотите выступить в этом семестре (или записаться на следующий), то <a href="<%= base_url %>/faq/contacts">напишите нам</a>.
                        </div>
</section>
