---
layout: layout
menu_item: about
title: О проекте
---

<section class="content-box clearfix">
                        <div class="big-title"><b>О проекте</b></div>
                        <div class="about-text">
                        Tech Talks @NSU, читается [тек-токс] — еженедельные открытые лекции о разработке программного обеспечения и карьере в IT-индустрии. Мы ставим своей целью непрерывное расширение профессионального кругозора студентов IT-специальностей.
                        <br/><br/>
                        Каждую неделю к нам приходит сотрудник какой-нибудь новосибирской (и не только) IT-компании и рассказывает о вещах, которые реально происходят в индустрии.
                        <br/><br/>
                        В осеннем семестре мы рассказываем о технологиях, языках и разработке в целом. В весеннем семестре мы рассказываем о различных профессиях и карьере в IT.
                        <br/><br/>
                        Вход на лекции свободный. Мы одинаково рады видеть и студентов, и выпускников, и взрослых IT-специалистов.
                        <br/><br/>
                        Есть вопросы? <a href="<%= base_url %>/faq/contacts">Напишите нам!</a>
        
                        </div>
</section>
