---
layout: layout
menu_item: about
title: О проекте
---

<section class="content-box clearfix">
                        <div class="big-title"><b>О проекте</b></div>
                        <div class="about-text">
                        Tech Talks @NSU — серия открытых лекций о разработке программного обеспечения и карьере в IT-индустрии.
                        <br/><br/>
                        Каждую неделю в НГУ приходит представитель какой-нибудь новосибирской (и не только) IT-компании и рассказывает о вещах, которые
                        реально происходят в индустрии.
                        <br/><br/>
                        В осеннем семестре мы рассказываем о технологиях, языках и разработке в целом.
                        <br/><br/>
                        В весеннем семестре мы рассказываем о различных профессиях и карьере в IT.
                        <br/><br/>
                        Вход на лекции свободный для студентов всех факультетов (и не только для студентов).
                        <br/><br/>
                        Есть вопросы? <a href="<%= base_url %>/faq/contacts">Напишите нам!</a>
        
                        </div>
</section>
