---
layout: layout
menu_item: students
title: Слушателям
---
                <section class="content-box clearfix">
                        <div class="big-title"><b>Слушателям</b></div>
                        <div class="about-text">
                        Вход на лекции свободный для студентов всех факультетов (и не только для студентов).
                        <br/><br/>
                        Официально эта серия лекций оформлена как спецкурс на кафедре общей информатики ФИТ. Если вы заинтересованы в получении
                        зачета по этому спецкурсу, то обратитесь к <a href="<%= base_url %>/faq/contacts">организаторам</a>.   
                        </div>
                </section>
