---
layout: layout
title: Команда проекта
---
<section class="content-box clearfix">
                        <div class="big-title"><b>Команда проекта</b></div>
                        <div class="about-text">
                        <p>Автор идеи и главный организатор: <a href="http://factorized.net">Семён Факторович</a></p>

                        <p>Организационная команда: 
                        	<ul>

                        		<li><a href="https://vk.com/novokreshchyonov">Лев Новокрещенов (ММФ)</a></li>
                        		<li><a href="http://maksim.pw">Максим Савичев (ВКИ)</a></li>
                        		<li><a href="https://vk.com/aksimonova">Анна Симонова (ММФ)</a></li>
                        		<li><a href="https://vk.com/spasibochtozhivoi">Константин Высоцкий (ММФ)</a></li>
                        	</ul>
                        	<br/>
                        <p>Отдельное спасибо <a href="https://vk.com/godovykh">Олегу Годовых</a> за неоценимую помощь и идейную поддержку в первых сезонах проекта.
                        </div>
</section>
